{% extends 'xxtj/base.html' %}
{% load static from static%}
{% block head %}
    <script type="text/javascript">
    var xmlhttp = false;
    function createRequest(url) {
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
            if(xmlhttp.overrideMimeType){
                xmlhttp.overrideMimeType("text/xml");
            }
        } else if(window.ActiveXObject) {
            try{
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            }catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP")
                }catch (e) {}
            }
        }
        if(!xmlhttp){
            alert("不能创建xmlhttp实例，请不要使用兼容模式或更换浏览器！")
            return false;
        }
        xmlhttp.onreadystatechange = alertContents;
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function alertContents() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            document.getElementById("shuoming_by_ajax").innerHTML = xmlhttp.responseText;
        }
    }
        function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        {#document.cookie = cname + "=" + cvalue + ";" + ";path=/";#}
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
             }
             if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
             }
         }
        return "";
    }
    function query_by_statistics(str) {
        if(str=="0"){
            window.alert("请在 选择项目 中选择您要进行提交的项目");
            return false;
        }
        else{
            createRequest("{% url 'xxtj:ajax' %}?statistics=" + str + "&do=query_description_by_statistics");
        }
    }
    function validateForm()
    {
        var sta=document.forms["main"]["statistics"].value;
        var name=document.forms["main"]["name"].value;
        if (sta=="0"){
            alert("项目必须选择");
            return false;
        }
        if (name=="0"){
            alert("姓名必须选择");
            return false;
        }
        setCookie("stu_id", name, 365);
    }
    window.onload=function () {
        var stu_id = getCookie("stu_id");
        if( stu_id!= "")
            document.forms["main"]["name"].value=stu_id;
    }
    </script>
{% endblock head %}


{% block base %}
    <div class="container">
       <div class="row clearfix">
           <div class="col-md-6 column">
               <div class="jumbotron" >
                   <h1>
                       信息统计系统
                   </h1>

{#                   <p>#}
{#                        <a class="btn btn-primary btn-large" href="#">Learn more</a>#}
{#                   </p>#}
               </div>
           </div>
       </div>
   </div>
    <form action="{% url 'xxtj:add' %}" name="main" onsubmit="return validateForm()">
        <table width="90%" class="table table-borderedc">
{#            <thead>#}
{#					<tr>#}
{#						<th>#}
{##}
{#						</th>#}
{#						<th>#}
{##}
{#						</th>#}
{#            </thead>#}
            <tbody>
                <tr>
                    <td width="30%"><h4><strong>选择项目</strong></h4></td>
                    <td><select name="statistics" onchange=query_by_statistics(this.value)>
                        <option value="0"></option>
                        {% for statistic in statistics %}
                            <option value="{{statistic.pk}}">{{ statistic.statistics_name }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr class="success">
                    <td><h4><strong>选择姓名</strong></h4></td>
                    <td><select name="name">
                        <option value="0"></option>
                        {% for name in names %}
                            <option value="{{ name.pk }}">{{ name.student_name }}</option>
                        {% endfor %}

    {#                    <option value="1">name_1</option>#}
    {#                    <option value="2">name_2</option>#}
    {#                    <option value="3">name_3</option>#}
                    </select></td>
                </tr>
                <tr>
                    <td><h4><strong>说明</strong></h4></td>
                    <td><span id="shuoming_by_ajax"></span></td>
                </tr>
                <tr class="success">
                    <td><h4><strong>提交</strong></h4></td>
                    <td><input type="submit" class="btn btn-default" value="提交"></td>
                </tr>
            </tbody>
        </table>
        {% csrf_token %}
        <input type="hidden" name="class_id" value="{{ class_id }}">
        <input type="hidden" name="requery" value="0">
    </form>
{% endblock base %}